 <!-- footer -->
 <div class="card-dark bg-light mt-5">
     <div class="card-header">
         Quote
     </div>
     <div class="card-body">
         <blockquote class="blockquote mb-0">
             <p>The most damaging phrase in the language is "It's always been done this way"</p>
             <footer class="blockquote-footer">-Grace Hopper</cite>
             </footer>
         </blockquote>
     </div>
     <div class="card-footer">
         <p>Copyright 2021</p>
     </div>
 </div>