{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block content %}
<div class="container">
    <form action="{% url 'searchapp:home' %}">
        <!-- Checkbox -->
        <div class="row mt-4">
            <div class="col-md-4">
                <h6>Keywords</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Che1" value="Best" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Best( 4 times)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Che2" value="Best" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                       Best( 10 times)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Che3" value="Alo" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Alo( 2 times)
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <h6>User</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Balam" value="Balam" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Balam
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Habib" value="Habib" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                       Habib
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Tapos" value="Tapos" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                       Tapos
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <h6>Time Range</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Yesterday" value="Yesterday" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Data from yesterday
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Lastwk" value="Lastwk" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Data from last week
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Lastmn" value="Lastmn" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Data from last month
                    </label>
                </div>
            </div>
        </div>
        <!-- date -->
        <div class="row mt-4">
            <h4 class="text-center mb-3">Date</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="startDate">Start date</label>
                <input type="date" id="startDate" name="startDate">
            </div>
            <div class="col-md-6">
                <label for="endDate">End date</label>
                <input type="date" id="endDate" name="endDate">
            </div>
        </div>
        <div class="row mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>

    <div class="row mt-5">

        {% if musicians %}

        {% for musician in musicians  %}
        <!-- Musicians 1 -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ musician.user_photo.url }}" class="card-img-top" alt="....">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6>Name:{{ musician.name }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Age: {{ musician.age }}</h6>
                        </div>
                        <div class="col">
                            <h6>City: {{ musician.city }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Monthly Incoming: ${{ musician.yearly_income | intcomma }}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Entry date : {{ musician.list_date | timesince }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}



        <!-- Musicians 2 -->
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/man.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6>Name:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Age:</h6>
                        </div>
                        <div class="col">
                            <h6>City:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Monthly Incoming:</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/man.png' %}" class="card-img-top" alt="man">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6>Name: {{ name }} </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Age:</h6>
                        </div>
                        <div class="col">
                            <h6>City:</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Monthly Incoming:</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% endblock content %}